.blacklink a,
.blacklink a:hover,
.blacklink a:visited {
    color: #000;
    text-decoration: none;
}

.recentlink a,
.recentlink a:visited {
    color: #666;
    text-decoration: none;
}
.recentlink a:hover {
    color: #666;
    text-decoration: underline;
}

.citaz {
    font-style: italic;
    padding-left: 20px;
    border-left: 2px solid #000;
    margin-left: 0;
}

