.blacklink a,
.blacklink a:hover,
.blacklink a:visited {
    color: #000;
    text-decoration: none;
}
.recentlink a,
.recentlink a:visited {
    color: #666;
    text-decoration: none;
}
.recentlink a:hover {
    color: #666;
    text-decoration: underline;
}
.citaz {
    font-style: italic;
    padding-left: 20px;
    border-left: 2px solid #000;
    margin-left: 0;
}
@media (min-width: 1200px) {
    .container {
        max-width: 1100px;
    }
}
@font-face {
    font-family: 'Faustina';
    src: url('../fonts/static/Faustina-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Faustina';
    src: url('../fonts/static/Faustina-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Helvetica Neue';
    src: url('../fonts/static/HelveticaNeue-Light.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Helvetica Neue';
    src: url('../fonts/static/HelveticaNeue-Bold.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Helvetica Neue';
    src: url('../fonts/static/HelveticaNeue-Italic.ttf') format('opentype');
    font-weight: 300;
    font-style: italic;
}
.navbar-brand {
    font-family: 'Faustina', serif;
    font-size: 1.4rem;
}
.title {
    font-family: 'Faustina', serif;
}
.blogpost {
    font-family: 'Helvetica Neue', serif;
    font-size: 1.1rem;
}
.blogpost h4,h5 {
    font-family: 'Helvetica Neue', serif;
    font-weight: 400;
}
